rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == uid;
      match /fcmTokens/{token} {
        allow read, write: if request.auth.uid == uid;
      }
    }

    match /contacts/{uid} {
      allow read, write: if request.auth.uid == uid;
      match /list/{contactId} {
        allow read: if request.auth.uid == uid;
        allow write: if request.auth.uid == uid;
        allow create: if request.auth.uid == contactId
          && request.resource.data.keys().hasAll(['_requestId'])
          && get(/databases/$(database)/documents/contactRequests/$(request.resource.data._requestId)).data.status == "pending"
          && get(/databases/$(database)/documents/contactRequests/$(request.resource.data._requestId)).data.from == uid
          && get(/databases/$(database)/documents/contactRequests/$(request.resource.data._requestId)).data.to == contactId;
        allow delete: if request.auth.uid == contactId
          && !exists(/databases/$(database)/documents/contacts/$(contactId)/list/$(uid));
      }
    }

    match /contactRequests/{id} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.from || request.auth.uid == resource.data.to);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.from;
      allow delete: if request.auth != null && (request.auth.uid == resource.data.from || request.auth.uid == resource.data.to);
      allow update: if false;
    }

    match /buzzes/{id} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.toUid || request.auth.uid == resource.data.fromUid);
      allow create: if request.auth != null && request.auth.uid == request.resource.data.fromUid;
      allow delete: if request.auth != null && request.auth.uid == resource.data.fromUid;
      allow update: if false;
    }

    match /groups/{groupId} {
      allow read: if request.auth != null && resource.data.memberIds.hasAny([request.auth.uid]);
      allow create: if request.auth != null;
      allow update: if request.auth != null && resource.data.memberIds.hasAny([request.auth.uid]);
      allow delete: if request.auth != null && resource.data.createdBy == request.auth.uid;
    }

    match /customSounds/{id} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }
  }
}
